<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

<!-- Название у нас будет Product -->
{% block title %}
Product
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<table align="center">
    <thead>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Price
        </th>
        <th>
            Quantity
        </th>
    </thead>
    <tr>
        <td>
            {{ product.name|title }}
        </td>
        <td>
            {{ product.category.name|title }}
        </td>
        <td>
            {{ product.price }}
        </td>
        <td>
            {{ product.quantity }}
        </td>
    </tr>
</table>
{% endblock content %}
