<!-- Загружаем библиотеку для перевода в шаблонах -->
{% load i18n %}
{% load tz %}  <!-- также загружаем тег для работы с часовыми поясами -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page title</title>
</head>
<body>
    <form action="{% url 'set_language' %}" method="POST">
        {% csrf_token %} <!-- Не забываем про csrf_token для POST запросов -->
        <input type="hidden" name="next" value="{{ redirect_to }}">

        <select name="language" id="">
            {% get_current_language as LANGUAGE_CODE %} <!-- set current language -->
            {% get_language_info_list for available_languages as languages %} <!-- Помещаем их в список languages -->

            <!-- Итерируем список и выводим их название на языке пользователя и код языка -->
            {% for language in languages %}
                <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Set">
    </form>

    {% get_current_timezone as TIME_ZONE %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="timezone">Time zone:</label>
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Set">
    </form>

    {{ TIME_ZONE }}
    <!-- Отображаем время в выбранном часовом поясе  -->
    {{ current_time|timezone:TIME_ZONE }}

    <!-- Вывод всех объектов модели из вьюхи -->
    {% for model in models %}
    <div class="model-class">
        {{ model.name }} : {{ model.kind.name }}
    </div>
    {% endfor %}
</body>
</html>